.bold-red{
    background-color: #E8332F;
}
.bold-white{
    background-color: #F6F9FB;
}
.bold-black{
    background-color: #2D2D2D;
}

.bold-font{
    /*font-weight: bold;*/
    font-family: 'Proxima Nova' !important;
}

.subtitle{
    color: #F6F9FB !important;
    text-decoration: underline;
    text-decoration-color: #F6F9FB;
}



html, body {
                /*background-color: #E8332F;*/
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-weight: 900;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }